html, body {
  font-family: "Open Sans" !important;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
  height: 400px;
  background: url('../images/background.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
  top: -50px;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
  text-shadow: 0 0 10px #000;
  color: #fff;
}

.img-center {
  margin: 0 auto;
}

footer {
  margin: 50px 0;
}

/* Custom stuff */

.navbar-inverse {
  background-color: #dcded9;
  border-color: #dcded9;
  opacity: 0.8;
}

img.resize{
  max-width: 100%; height: auto;
}


.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
